<div class="container">


    <div class="gameinfo row" *ngIf="game">
        <div class="countdown" *ngIf="remainingSeconds"
             [ngClass]="{'countdown-high' : remainingSeconds > 6, 'countdown-medium' : remainingSeconds < 7 &&  remainingSeconds > 3, 'countdown-low' : remainingSeconds < 4}"
        >
            {{remainingSeconds}}
        </div>
        <div class="pull-right">
            <div *ngFor="#participant of game.options.participants" class="participant">
                <img class="img-rounded img-thumbnail"
                     [ngClass]="{'opacity' : !isThisUserTurn(participant)}"
                     src='{{participant.profileImageURL}}'
                     title="{{participant.displayName}}">

                <div class="score">{{participant.score}}</div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="game">
        <div *ngFor="#card of game.cards" class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <div class="card-container" (click)="pickCard(card)" (dblclick)="onDoubleClick(card)">
                <div class="card" [ngClass]="{'flipped': card.flipped}">
                    <img class="front img-rounded img-thumbnail " src='http://i.imgur.com/dt8vuIR.png'>
                    <img class="back img-rounded img-thumbnail " [ngClass]="{'opacity' : isCardRevealed(card)}"
                         src='{{card.mediumHdUrl}}'>
                </div>
            </div>
        </div>
    </div>

</div>