$break-x-small: 400px;
$break-small: 600px;
$break-medium: 800px;
$break-large: 1200px;



.card-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 180px;
  height: 259px;

  @media screen and (max-width: $break-large) and (min-width:  $break-medium) {
    width: 160px;
    height: 230px;
  }

  @media screen and (max-width: $break-medium) and (min-width:  $break-small) {
    width: 140px;
    height: 202px;
  }
  @media screen and (max-width: $break-small) and (min-width:  $break-x-small) {
    width: 100px;
    height: 144px;
  }
  @media screen and (max-width: $break-x-small) {
    width: 80px;
    height: 115px;
  }

  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}


.card-back{
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  float: none;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}


.card img {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gameinfo{
  padding-bottom: 10px;
}

.countdown{
  padding-bottom: 5px;
  margin-top: 20px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  display:inline;
  font-size: 125%;
}

.countdown-high{
  color: green;
}
.countdown-medium{
  color:orange;
}
.countdown-low{
  color:red;
}


.participant{
  padding-right: 15px;
  display:inline;
}

.participant img {
  height: 48px;
  width: 48px;
}
.participant .score {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  height: 100%;
}

.participant .opacity {
  opacity:  0.40;
}

.card .opacity {
  opacity:  0.55;
}

.card .transparent {
  opacity:  1.0;
}


.card .back {
  background: orange;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}